@import url(./modern-normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-family: "Roboto", sans-serif;
    border: 1px solid red;
}

body {
    display: flex;
    justify-content: center;
}

.header {
    margin: 20px;
}

#container {
    display: flex;

    align-items: center;
    flex-direction: column;
}

#bookManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#bookList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100vw;
    gap: 15px;
    padding: 20px;

}

.modal-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #00000050;
  }
  
  .modal {
    width: 600px;
    height: 400px;
    position: relative;
  }

  .wip {
    margin-top: 50px;
  }